---
import "../styles/styles.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <p>
      I'm software developer, currently studying in Mataró, Barcelona. This blog
      is for my exchange notes and life logs.
    </p>
    <p>Otto Tirronen</p>
  </div>
</BaseLayout>
